@import "/src/assets/variable.scss";

.input-box{
    max-width: 70%;
flex: 2.5;   
}

.input-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    p{
        flex: 2;
    }
    input{
        text-align: right;
    }
}

.input-inner-container{
    flex: 2.5;
}