
.auth-main{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(#004a25, #ffc742);
}
.auth-box{
    margin: 0 auto;
    width: 400px;
    height: max-content;
    margin: 100px 0 0 0;
}
.auth-box-form{
    padding: 35px 30px 25px;
}
.auth-box img{
    width: 200px;
}
.auth-main .auth-title {
    position: relative;
    font-weight: 400;
    font-size: 1.8rem;
}
.auth-main .auth-title:before, .auth-main .auth-title:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 23px;
    width: 20%;
    background: var(--black);
}
.auth-main .auth-title:before {
    left: 0;
}
.auth-main .auth-title:after {
    right: 0;
}

