.tableHeader{
    height: 32px;
    align-items: center;
    justify-content: space-between;
}
.btn {
    padding: 2px 5px;
}
.btn-back {
    height: 24px;
    cursor: pointer;
    background-color: #ffc742;
    border-color: #ffc742;
    color: #ffffff;
    // padding: 0.47rem 0.75rem;
    text-decoration: none;
    border-radius: 3px !important;
    margin-right: 3px;
    margin-left: 0;
    text-transform: uppercase;
    display: inline-block;
    font-size: 12px;
}


.custom-control {
    position: relative;
    display: block;
    min-height: 1.21875rem;
    padding-left: 1.5rem;
  }
  
  .custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.109375rem;
    opacity: 0;
  }
  
  .custom-checkbox .custom-control-label:before {
    border-radius: 0.25rem;
  }
  .custom-control-label::after, .custom-control-label::before {
    width: 20px;
    height: 20px;
    border-radius: 0;
    background-color: #000 !important;
    border: 1px solid #000;
  }
  
  .custom-control-label:before, .custom-file-label, .custom-select {
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .custom-control-label:after, .custom-control-label:before {
    position: absolute;

    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
  }
  
  .custom-control-label::after, .custom-control-label::before {
    width: 20px;
    height: 20px;
    border-radius: 0;
    background-color: #000;
    border: 1px solid #000;
  }
  
  .custom-control-label:after {
    background: no-repeat 50% / 50% 50%;
  }
  .custom-control-label:after, .custom-control-label:before {
    position: absolute;
    top: 0.1rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
  }
  
  /* Styles for the unchecked state */
  .custom-control-label::before {
    background-color: #fff;
    border: 1px solid #000;
  }
  
  /* Styles for the checked state */
  .custom-control-input:checked ~ .custom-control-label::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='white' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #000; /* Background color for checked state */
    border: 1px solid #000;
  }

  .custom-modal-width .modal-dialog {
    max-width: 90% !important;
  }