
@import "/src/assets/variable.scss";
.sortIcon{
    float: right;
    cursor: pointer;
}
.sortIconGray svg{
    color: $gray;
}
.sortIconDark svg{
    color: $blue3;
}
.paginationBtn{
    margin: 0px 10px ;
    height: 37px !important;
}
.pagination{
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    .paginationContainer{
        display: flex;
    }
}
.rowPerPageSelect{
    padding: 0px !important;
}
.page-link{
    border-radius: 4px;
}
// ==========other pages =========

.commonTable.table.table-striped tr:nth-of-type(odd) td{
    // .table.table-striped tr:nth-of-type(odd) td{
        background: rgba(0,0,0, 0.03) ;
    }
    .commonTable tr th,
    .commonTable tr td{
    border: 2px solid $grayBlue;
    height: 40px;
    padding: 6px 5px ;
}
.commonTable.reportTable th {
    border-width: 1px;
    border-bottom-color: $primary;
    background-color: transparent;
    font-size: 14px;
}
.commonTable.reportTable tr:nth-of-type(1) td{
    border-top: 0;
}
.commonTable.reportTable tr:last-child td{
    border-bottom: 1px solid $black;
}
.commonTable .noRecord{
    background-color: white;
}

/** list client start***/

.listClientTable thead tr{
    border: 0
}
.listClientTable tr td button{
    min-height: 25px;
    min-width: 28px;
}

/** list client end***/


