
@import "/src/assets/variable.scss";
.sortIcon{
    float: right;
    cursor: pointer;
}
.sortIconGray svg{
    color: $gray;
}
.sortIconDark svg{
    color: $blue3;
}
.paginationBtn{
    margin: 0px 10px ;
    height: 37px !important;
}
.pagination{
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    .paginationContainer{
        display: flex;
    }
}
.rowPerPageSelect{
    padding: 0px !important;
}

// ==========other pages =========
/** list client ***/
.listClientTable thead tr{
    border: 0
}
.listClientTable tr:nth-of-type(odd) td{
    background: rgba(0,0,0, 0.03) !important;
}
.listClientTable tr th,
.listClientTable tr td{
    border: 2px solid $grayBlue;
    height: 40px;
    padding: 6px 5px ;
}
.listClientTable tr td button{
    min-height: 25px;
    min-width: 28px;
}


