.lay-border {
    box-shadow: inset 3px 0 0px #f994ba;
    border-left: 0;
}
.lay-border {
    border-left: 5px solid #f994ba;
    background-color: #f994ba57 !important;
}

.back-border {
    box-shadow: inset 3px 0 0px #72bbef;
    border-left: 0;
}
.back-border {
    border-left: 5px solid #72bbef;
    background-color: #72bbef57 !important;
}