.custom-control-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.custom-control-label::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #007bff;
  background-color: transparent;
  transition: background-color 0.2s ease;
  top: 2px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #007bff;
  border-color: #007bff;
  box-shadow: inset 0 0 0 6px white;
}
.custom-control-label {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
}

.custom-radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.custom-radio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  gap: "5px";
  padding-left: 20px;
  margin-left: 15px;
}

.custom-radio input[type="radio"] {
  position: absolute;
  top: auto;
  right: auto;
  opacity: 0;
  cursor: pointer;
}

.custom-radio .custom-radio-checkmark {
  position: absolute;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #310b97;
  transition: background-color 0.2s ease;
}

.custom-radio input[type="radio"]:checked ~ .custom-radio-checkmark {
  background-color: #fff;
}

.custom-radio .custom-radio-checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.custom-radio input[type="radio"]:checked ~ .custom-radio-checkmark::after {
  display: block;
}

.custom-radio .custom-radio-checkmark::after {
  top: 0.2rem;
  left: 0.2rem;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(19, 2, 82);
}
