.market-tab-link {
  background: #004a25;
  color: #fff;
  padding: 5px 9px;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  margin: 5px;
  text-transform: capitalize;
}
li {
  list-style: none;
}
.market-tab-link.active {
  background-color: #ffc742;
  color: white;
}

.market-tab-link:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
// td{
//   width: 50%;
// }
