.casino-vieo-rules.show-rules {
    display: flex;
    max-width: calc(100% - 200px);
    width: 800px;
    z-index: 11;
}
@media only screen and (min-width: 1280px) and (max-width: 1599px) {
    .casino-vieo-rules {
        height: calc(100% - 125px);
    }
}

.casino-vieo-rules {
    flex-wrap: wrap;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    width: 0;
    top: 50px;
    right: 0;
    height: calc(100% - 160px);
    border-radius: 8px;
    display: none;
    position: absolute;
    text-align: left;
}

.casino-vieo-rules .rules-header {
    background-color: #333;
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding: 2px;
    width: 100%;
}
.fa-times:before {
    content: "\F00D";
}
.casino-vieo-rules .rules-body {
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #666666 #333333;
    height: calc(100% - 30px);
    line-height: normal;
    width: 100%;
}

.rules-section .rules-highlight {
    color: #FDCF13;
    font-size: 16px;
}