@import "/src/assets/variable.scss";

.gameTable table td{
    background-color: $lightGray;
}
.gameTable table th,
.gameTable table td{
    padding: 0 !important;
    border-color: $white;
    border-width: 1px;
}
.gameTable table th nav ol{
    margin: 0 !important;
}
.gameTable table th{
    background-color: transparent;
}
.gameTable table th.boxLayTitle{
    display: flex;
}
.backLayRunner span{
    line-height: 0.8;
}
.backLayRunner {
    .backLayRunner-country{
        line-height:1.8;
    }

}
