.my-custom-select {
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: none;
}

.my-custom-select .select__control {
  border: none;
  padding: 0px 12px;
}

.my-custom-select .select__placeholder {
  color: #d3d3d3;
  font-size: 14px;
}

.my-custom-select .select__input {
  padding: 8px 10px;
  border: none;
  background: transparent;
}

.my-custom-select .select__dropdown-indicator {
  color: #495057;
}

.my-custom-select .select__menu {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #fff;
  z-index: 1000;
}

.my-custom-select .select__option {
  padding: 10px 12px;
  color: #495057;
  cursor: pointer;
}

.my-custom-select .select__option:hover {
  background-color: #f1f1f1;
}

.my-custom-select * {
  box-sizing: border-box;
}
.css-1u9des2-indicatorSeparator {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  width: 0px !important;
  background-color: #fff !important;
  margin-bottom: 8px;
  margin-top: 8px;
  box-sizing: border-box;
}
