@import "/src/assets/variable.scss";
body {
  font-family: "Roboto Condensed", sans-serif !important;
}
body table.table {
  margin-bottom: 0;
}

/* ====== excel csv btn ======= */
.excel {
  background-color: $excel !important;
}
.pdf {
  background-color: $pdf !important;
}
.divLoading {
  display: block;
  position: fixed;
  z-index: 9999;
  background-image: url(../assets/images/loader.gif);
  background-color: #666;
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-size: 100px 100px;
}
// action buttons
.actionBtn {
  padding: 0px 10px !important;
  height: auto !important;
}
.modalFull-90.customModal .modal-dialog {
  width: 90vw;
  max-width: none;
}
.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

body input.form-control {
  height: 33px;
  border-radius: 3px !important;
  font-size: 14px;
}
body {
  input.form-check-input[type="checkbox"] {
    border: 1px solid $black;
    border-radius: 0 !important;
    height: 20px;
    width: 20px;
    &:focus {
      border-color: $black;
      box-shadow: none;
    }
    &:checked {
      background-color: $dark !important;
    }
  }
  label {
    font-size: 14px;
  }
}
// .css-13cymwt-control{
//   height: 33px;
// }
th {
  font-size: 14px;
}
.btn {
  border-radius: 3px !important;
  height: 33px;
  font-size: 14px !important;
}
@media (min-width: 992px) {
  body .modal-dialog {
    min-width: 530px;
  }
}

.nav-pills .nav-link:not(.active) {
  color: $defaultBlue;
  transition: color 0.9s ease;
}

.nav-pills .nav-link.active {
  color: black;
}

.nav-pills .nav-link:hover {
  // border: .5px solid grey;
}

.defaultBlue {
  color: $defaultBlue;
}

/* ====== bg Colors start ====  */
.bg-secondaryLight {
  background-color: rgba($secondary, 0.7) !important;
}
.bg-blue1 {
  background-color: $blue1 !important;
}
.bg-blue2 {
  background-color: $blue2 !important;
}
.bg-blue3 {
  background-color: $blue3 !important;
}
.bg-red1 {
  background-color: $red1 !important;
}
.bg-red2 {
  background-color: $red2 !important;
}
.bg-red3 {
  background-color: $red3 !important;
}
.bg-pdf {
  background-color: $pdf;
}
.bg-defaultBlue {
  background-color: $defaultBlue !important ;
}
.defaultBlue {
  color: $defaultBlue !important ;
}
.bg-green {
  background-color: $green;
}
.bg-lightGray {
  background-color: $lightGray !important;
}
.bg-gray {
  background-color: $gray !important;
}
.bg-extraGray {
  background-color: $extraDark !important;
}
.btn-close {
  background: $primary !important;
  height: 35px !important;
  width: 35px !important;
  position: relative;
}

.color-green {
  color: $green !important;
}
.color-red {
  color: $pdf !important;
}
// .btn-close::after{
//  background: url(../../public/cross.svg) no-repeat !important;
//   content: "";
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   height: 12px;
//   width: 12px;
//   font-weight: bold;
//   color: #fff;
//   filter: invert(1);
// }
/* ====== bg Colors end ====  */

/* ===== for title ====  */
.text-green {
  color: $green;
}
.text-red {
  color: $pdf;
}
.title-46 {
  font-size: 46px !important;
}
.title-40 {
  font-size: 40px !important;
}
.title-36 {
  font-size: 36px !important;
}
.title-34 {
  font-size: 34px !important;
}
.title-32 {
  font-size: 32px !important;
}
.title-30 {
  font-size: 30px !important;
}
.title-28 {
  font-size: 28px !important;
}
.title-26 {
  font-size: 26px !important;
}
.title-24 {
  font-size: 24px !important;
}
.title-22 {
  font-size: 22px !important;
}
.title-20 {
  font-size: 20px !important;
}
.title-18 {
  font-size: 18px !important;
}
.title-16 {
  font-size: 16px !important;
}
.title-15 {
  font-size: 15px !important;
}
.title-14 {
  font-size: 14px !important;
}
.title-13 {
  font-size: 13px !important;
}
.title-12 {
  font-size: 12px !important;
}
.title-10 {
  font-size: 10px;
}
.f300 {
  font-weight: 300;
}
.f400 {
  font-weight: 400;
}
.f500 {
  font-weight: 500;
}
.f600 {
  font-weight: 600;
}
.f700 {
  font-weight: 700;
}
.f800 {
  font-weight: 800;
}
.f900 {
  font-weight: 900;
}

.cardResultBoxContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.cardResultBoxHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 8px;
  background-color: #ffc742d9;
}
.cardResultBoxRound {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
  margin-bottom: 10px;
}
.cardResultCircle {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #355e3b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  background-color: #a7d8fd !important;
}

.lay {
  background-color: #faa9ba !important;
}

// === border css start ====

// === border css start ====
/*# sourceMappingURL=common.css.map */
