@import "/src/assets/variable.scss";

.customCheckbox {
  width: 20px;
  height: 20px;
  appearance: none;
  border-radius: 0;
  background-color: black;
  border: 1px solid black;
  cursor: pointer;
}
.checkbox-bg {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3E%3C/svg%3E");
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
